body {
    background: url("St\ Fairy\ School.png");
    background-repeat: no-repeat;
    background-size: 1100px 700px;
}

h1 {
    color: aliceblue;
}

label {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}